<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출석 랭킹</title>
    <th:block th:replace="~{fragment/link::link}"></th:block>
    <link rel="stylesheet" href="/css/ranking.css">

</head>

<body class="fullBody">

    <!-- header 프레그먼트 -->
    <th:block th:replace="~{fragment/header::header}"></th:block>

    <button>
        <a href="/" style="text-decoration: none; color: rgb(10, 8, 8);">홈으로</a>
    </button>

    <div class="main">
        <div class="content1">
            <!-- 나의 순위로 이동하는 버튼 -->
            <button id="my-ranking-btn" class="btn-primary" th:data-user-id="${user != null ? user.id : 'null'}">나의 랭킹으로
                이동</button>
        </div>
        <div class="content2">
            <div class="text">
                <h1 style="margin-left: -35px; padding: 30px;">출석 랭킹</h1>
            </div>

            <div class="table-container">
                <table class="attendance-table" style="font-size: large; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th><br><br>랭킹</th>
                            <th><br><br>회원ID</th>
                            <th><br><br>출석횟수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 동적으로 나의 순위와 다른 회원들의 순위를 출력 -->
                        <tr th:each="rank : ${rankingList}">
                            <td th:id="'rank-' + ${rank.userId}">
                                <span th:if="${rank.rank == 1}">
                                    <img src="img/gold.png" alt="" class="ranking-icon"
                                        style="width: 100px; height: 100px;">
                                </span>
                                <span th:if="${rank.rank == 2}">
                                    <img src="img/silver.png" alt="" class="ranking-icon"
                                        style="width: 100px; height: 100px;">
                                </span>
                                <span th:if="${rank.rank == 3}">
                                    <img src="img/bronze.png" alt="" class="ranking-icon"
                                        style="width: 100px; height: 100px;">
                                </span>
                                <span th:if="${rank.rank > 3}" th:text="${rank.rank}"></span>
                            </td>
                            <td th:text="${rank.userId}"></td>
                            <td th:text="${rank.attendanceCount + '회'}"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content3" style="background-color: #252323;">
            <button id="my-ranking-btn" class="btn-primary2">1등 : 이용권 1달 무료 + PT 5회<br><br>2등 : 이용권 1달 무료<br><br>3등 :
                이용권 50% 할인</button>
        </div>
    </div>

    <!-- footer 프레그먼트 -->
    <footer class="footer">
        <th:block th:replace="~{fragment/footer::footer}"></th:block>
    </footer>

    <!-- script 프레그먼트 -->
    <th:block th:replace="~{fragment/script::script}"></th:block>

     <!-- javascript -->
    <script src="/js/ranking.js"></script>
</body>

</html>